.option-btn{
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px 20px;
    
}

.option-btn:hover{
    background-color: aqua;
    border-radius: 5px;
}

.arrow-icon{
    height: 25px;
    margin-right: 9px;
}